@CHARSET "UTF-8";
a:link {color: #FF0000;}/* unvisited link */
a:visited {color: #3d3d3d;}/* visited link */
a:hover {color: #f491bb;}/* mouse over link */
a:active {color: #ed4e92;}/* selected link */
.bg_color_black{background: black;}
.bg_color_gray{background-color: #cacaca;}
.border_dotted {border-style: dotted;}
.border_dashed {border-style: dashed;}
.border_solid {border-style: solid;}
.border_double {border-style: double;}
.border_groove {border-style: groove;}
.border_ridge {border-style: ridge;}
.border_inset {border-style: inset;}
.border_outset {border-style: outset;}
.border_none {border-style: none;}
.border_hidden {border-style: hidden;}
.border_mix {border-style: dotted dashed solid double;}
.color_red{color: red;}
.color_blue{color: blue;}
.color_yellow{color: yellow}
.color_white{color: white}

.event_hover:hover {background-color: #c0c0c0;}
.font_bold{font-weight: bold;}
.font_italic{font-style: italic;}
.join_select{width: 120px;height: 20px;}
.height_full_size{height: 100%}
.list_circle{list-style-type: circle;}
.list_square{list-style-type: square;}
.list_upper_roman{list-style-type: upper-roman;}
.list_lower_alphae{list-style-type: lower-alpha;}
.margin_center{margin: 0 auto;}
.table_default{border: 1px solid #505050;border-collapse: collapse;}
.table_default tr{border: 1px solid #505050;border-collapse: collapse;}
.table_default tr th{border: 1px solid #505050;border-collapse: collapse;}
.table_default tr td{border: 1px solid #505050;border-collapse: collapse;}
.table_bottom{border-bottom: 1px solid #505050;border-collapse: collapse;}
.table_bottom tr{border-bottom: 1px solid #505050;border-collapse: collapse;}
.table_bottom tr th{border-bottom: 1px solid #505050;border-collapse: collapse;}
.table_bottom tr td{border-bottom: 1px solid #505050;border-collapse: collapse;}
.table_even tr:nth-child(even){background-color: #d9d9d9}
.table_odd tr:nth-child(odd){background-color: #d9d9d9}
.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}
.text_no_underline{text-decoration: none;}
.text_overline{text-decoration: overline;}
.text_line_through{text-decoration: line-through;}
.width_full_size{width: 100%;}